
*{
   padding: 0px;
   box-sizing: 0px;
   margin: 0px;
}

header{
   height: 82px;
   background-color: rgb(99, 46, 147);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   
}
#image{
   width: 3.5rem;
   height: 3.5rem;
}
#name{
   color: white;
   font-size: 2.5rem;
}
.logo{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
}
.icons .material-symbols-outlined{
font-size: 1rem; 


}
 #icons{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   color: white;
   
 }
 .container{
   
   width: 100%;
   max-width: 1100px;
   padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
 }

  header .container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  }

   @media only screen and (min-width: 900px) {
     #menubutton{
      display: none;
     }
}
.searchinput{
   padding: 0.5rem;
   border: none;
   width:100%;
   outline: none;
}
#searchbox{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: white;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   width: 50%;
   border-radius: 12rem;
}

#searchbox span{
   font-size: 1.2rem;
}
    .product{
      padding: 1rem;
      border: 1rem rgb(214, 204, 204);
    }
    #producthead{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.3rem;
      font-size: 2rem;
      color: rgb(0, 1, 0);
    }

 .product img{
   width: 100%;
 }
 .product h3{
   font-size: 1.5rem;
 }
 .starrating{
   color: rgb(227, 99, 7);
 }
 .priceandbutton{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
 #productbutton{
   padding:0.5rem;
   border: none;
   background-color: green;
   color: white;
   border-radius: 0.5rem;

 }
 .productlist{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   padding-top: 2rem;
   padding: 2rem;
 }
 @media only screen and (min-width: 750px) {
      .productlist{
         grid-template-columns: 1fr 1fr 1fr;
      }
   }

 @media only screen and (max-width: 900px) {
   #searchbox{
    display: none;
   }

 
 
  
